
/* CONTENTS */

/**

* 1	  General
* 2	  Top Bar Block
* 3	  Sidebar-Left Block
* 4	  Messages Block
* 5	  Bookings Block
* 6   Listing Add Details Block
* 7	  Listings Block
* 8	  Profile Block
* 9	  Users
* 10	Reviews
* 11	Bookmarks
* 12	Dashboard

*/

@import url("https://fonts.googleapis.com/css?family=Baloo+Chettan|Roboto+Slab|Work+Sans");
/*-------------------------------------------------------------------------*/
/* 1 General */

h1, h2, h3, h4, h5, h6, p, th, td, a, small, span, input, .custom-select, .btn, .breadcrumb, .breadcrumb-item, .nav-link, .dropdown-btn {
  font-family: 'Work Sans', sans-serif;
}

.sidebar-topbar>span {
  font-family: 'Baloo Chettan', cursive;
}

.lh{line-height: 1.5;}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

.btn:focus, button:focus, .form-control:focus, .navbar-toggler:focus, select:focus {
  -webkit-box-shadow: unset;
  box-shadow: unset;
  border: unset;
  border-color: unset;
  outline: unset;
}

.form-control, .btn {
  border: unset;
}

.border-cc {
  border-color: #cccccc !important;
}

ul {
  margin: 0;
}

input:focus, .custom-select:focus {
  -webkit-box-shadow: 0 0 0 1px #b3b3b3 !important;
  box-shadow: 0 0 0 1px #b3b3b3 !important;
  color: #495057;
  background-color: #fff;
  border-color: #b3b3b3 !important;
  outline: 0;
}

input[type=date]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}

.dropdown-menu {
  z-index: 1;
}

.page-navigation a:hover, a.nav-link:hover {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

a {
  text-decoration: none !important;
}

* {
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

body, html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #d9d9d9;
  overflow-x: hidden;
}

.position-absolute.btn-primary{background-color: #0F3847 !important;color: #ffffff !important;}

/*-------------------------------------------------------------------------*/
/*  Top Bar */

.top-bar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
  -webkit-box-shadow: 0px 2px 15px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 15px 2px rgba(0, 0, 0, 0.5);
}

.top-bar nav.navbar {
  background-color: #080808;
  margin: 0 0 0 250px;
  height: 56px;
}

.top-bar nav.navbar button span.fa-bars {
  color: #f7f7f7;
  font-size: 25px;
}

.top-bar nav.navbar button span:hover {
  color: #8c8c8c;
  background-color: black;
}

.top-bar nav.navbar ul.nav-list {
  display: inline-block;
}

.top-bar nav.navbar ul.nav-list li {
  margin: auto 5px;
}

.top-bar nav.navbar ul.nav-list li>a {
  padding: 5px 8px;
}

.top-bar nav.navbar ul.nav-list li form {
  position: relative;
}

.top-bar nav.navbar ul.nav-list li form .form-control {
  -webkit-box-shadow: unset;
  box-shadow: unset;
  border: 1px solid #030303;
  font-size: 13px;
  height: 34px;
  padding-left: 18px;
  padding-right: 40px;
  color: #f7f7f7;
  background: #4d4d4d;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 30px;
  width: 100%;
}

.top-bar nav.navbar ul.nav-list li form>i.fa-search {
  position: absolute;
  right: 20px;
  font-size: 13px;
  color: #030303;
}

.top-bar nav.navbar ul.nav-list li i.fa-search {
  color: #0F3847;
}

.top-bar nav.navbar ul.nav-list li.notifications a, .top-bar nav.navbar ul.nav-list li.messages a {
  color: #0F3847;
}

.top-bar nav.navbar ul.nav-list li.notifications>.dropdown-menu, .top-bar nav.navbar ul.nav-list li.messages>.dropdown-menu {
  padding: 20px;
  min-width: 300px;
  max-width: 400px;
  margin: 11px 0 0 0;
  overflow: hidden;
  font-weight: 700;
  font-size: 15px;
  color: #e6e6e6;
  background-color: #1a1a1a;
}

.top-bar nav.navbar ul.nav-list li.notifications>.dropdown-menu a, .top-bar nav.navbar ul.nav-list li.messages>.dropdown-menu a {
  margin: 30px 0 0px 25px;
  font-size: 13px;
  font-weight: 700;
  color: #e6e6e6;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.top-bar nav.navbar ul.nav-list li.notifications>.dropdown-menu a.active, .top-bar nav.navbar ul.nav-list li.messages>.dropdown-menu a.active {
  background-color: #e60000;
}

.top-bar nav.navbar ul.nav-list li.notifications>.dropdown-menu a span, .top-bar nav.navbar ul.nav-list li.messages>.dropdown-menu a span {
  font-weight: lighter;
  display: block;
  white-space: normal;
  overflow: hidden;
  color: #737373;
}

.top-bar nav.navbar ul.nav-list li.notifications>.dropdown-menu a i, .top-bar nav.navbar ul.nav-list li.messages>.dropdown-menu a i {
  font-size: 15px;
  background-color: black;
  position: absolute;
  left: 20px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-align: center;
  padding: 10px 0px;
  color: #0F3847;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.top-bar nav.navbar ul.nav-list li.notifications>.dropdown-menu a i.fa-sms, .top-bar nav.navbar ul.nav-list li.messages>.dropdown-menu a i.fa-sms {
  padding: 10px 0px;
}

.top-bar nav.navbar ul.nav-list li.notifications>.dropdown-menu a i.fa-glass-martini, .top-bar nav.navbar ul.nav-list li.messages>.dropdown-menu a i.fa-glass-martini {
  padding: 11px 0px;
}

.top-bar nav.navbar ul.nav-list li.notifications>.dropdown-menu a.bottom-margin, .top-bar nav.navbar ul.nav-list li.messages>.dropdown-menu a.bottom-margin {
  margin: 30px 0 30px 25px;
}

.top-bar nav.navbar ul.nav-list li.notifications>.dropdown-menu a:hover, .top-bar nav.navbar ul.nav-list li.messages>.dropdown-menu a:hover {
  background-color: unset;
  color: #ff1a1a;
}

.top-bar nav.navbar ul.nav-list li.notifications>.dropdown-menu a:hover span, .top-bar nav.navbar ul.nav-list li.messages>.dropdown-menu a:hover span {
  color: #bfbfbf;
}

.top-bar nav.navbar ul.nav-list li.notifications>.dropdown-menu a:hover i, .top-bar nav.navbar ul.nav-list li.messages>.dropdown-menu a:hover i {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  color: black;
  background-color: #ff1a1a;
}

.top-bar nav.navbar ul.nav-list li.notifications>.dropdown-menu a.btn, .top-bar nav.navbar ul.nav-list li.messages>.dropdown-menu a.btn {
  margin: 20px 0 0 0;
}

.top-bar nav.navbar ul.nav-list li.notifications>.dropdown-menu .btn:hover, .top-bar nav.navbar ul.nav-list li.messages>.dropdown-menu .btn:hover {
  color: white;
}

.top-bar nav.navbar ul.nav-list li.profile .dropdown-menu {
  background-color: #080808;
  padding: 5px 20px;
  margin: 8px 0 0 0;
  min-width: 250px;
}

.top-bar nav.navbar ul.nav-list li.profile .dropdown-menu a:first-child {
  margin-top: 0;
}

.top-bar nav.navbar ul.nav-list li.profile .dropdown-menu a {
  font-size: 16px;
  border-bottom: 1px solid #1a1a1a;
  font-weight: 500;
  color: #f7f7f7;
  padding: 10px 10px;
}

.top-bar nav.navbar ul.nav-list li.profile .dropdown-menu a.active {
  background-color: #e60000;
}

.top-bar nav.navbar ul.nav-list li.profile .dropdown-menu a i {
  font-size: 14px;
  margin: 0 8px 0 0;
}

.top-bar nav.navbar ul.nav-list li.profile .dropdown-menu a:hover {
  color: #0097B2;
  background-color: black;
}

.top-bar nav.navbar ul.nav-list li.profile .dropdown-menu .btn {
  color: #0F3847;
  margin: 0;
}

/*-------------------------------------------------------------------------*/
/*  Sidebar-Left */

.wrapper .sidebar-left {
  height: 100%;
  width: 250px;
  z-index: 10;
  background-color: #080808;
  position: fixed;
  top: 0;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  overflow-y: auto;
}

.wrapper .sidebar-left .sidebar-topbar {
  position: -webkit-sticky;
  position: sticky;
  height: 56px;
  border-bottom: 1px solid #1a1a1a;
  top: 0;
  background-color: #080808;
  -webkit-box-shadow: 0px 2px 15px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 15px 2px rgba(0, 0, 0, 0.5);
}

.wrapper .sidebar-left .sidebar-topbar i:first-child {
  font-size: 28px;
  transform: rotate(-45deg);
  color: white;
  padding: 13px 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

.wrapper .sidebar-left .sidebar-topbar>span {
  font-size: 30px;
  font-weight: 400;
  margin: 0 0 0 5px;
  color: white;
}

.wrapper .sidebar-left .sidebar-topbar i:last-child {
  font-size: 30px;
  color: #f7f7f7;
  padding: 0;
  margin: 0;
}

.wrapper .sidebar-left>.side-menu ul.navbar-nav li.nav-item {
  padding: 0px 0px;
  border-bottom: 1px solid black;
}

.wrapper .sidebar-left>.side-menu ul.navbar-nav li.nav-item a.items-list.first {
  border-top: 1px solid black;
}

.wrapper .sidebar-left>.side-menu ul.navbar-nav li.nav-item a.items-list2, .wrapper .sidebar-left>.side-menu ul.navbar-nav li.nav-item a.items-list {
  color: #e6e6e6;
  text-decoration: none;
  display: block;
  padding: 13px 0;
}

.wrapper .sidebar-left>.side-menu ul.navbar-nav li.nav-item a.items-list2.active, .wrapper .sidebar-left>.side-menu ul.navbar-nav li.nav-item a.items-list.active {
  background-color: #0F3847;
  border-bottom: 1px solid #000000;
  border-top: 1px solid #000000;
}

.wrapper .sidebar-left>.side-menu ul.navbar-nav li.nav-item a.items-list2:hover, .wrapper .sidebar-left>.side-menu ul.navbar-nav li.nav-item a.items-list:hover {
  background-color: #0F3847;
}

.wrapper .sidebar-left>.side-menu ul.navbar-nav li.nav-item a.items-list2.active span:first-child i, .wrapper .sidebar-left>.side-menu ul.navbar-nav li.nav-item a.items-list2:hover span:first-child i, .wrapper .sidebar-left>.side-menu ul.navbar-nav li.nav-item a.items-list.active span:first-child i, .wrapper .sidebar-left>.side-menu ul.navbar-nav li.nav-item a.items-list:hover span:first-child i {
  color: #e6e6e6;
}

.wrapper .sidebar-left>.side-menu ul.navbar-nav li.nav-item a.items-list2 span:first-child i, .wrapper .sidebar-left>.side-menu ul.navbar-nav li.nav-item a.items-list span:first-child i {
  padding: 0 5px 0 15px;
  color: #0F3847;
}

.wrapper .sidebar-left>.side-menu ul.navbar-nav li.nav-item a.items-list2 span i.fa-chevron-down, .wrapper .sidebar-left>.side-menu ul.navbar-nav li.nav-item a.items-list span i.fa-chevron-down {
  float: right;
  font-size: 14px;
  margin: 6px 15px 0 0;
}

.wrapper .sidebar-left>.side-menu ul.navbar-nav li.nav-item a.items-list2 {
  padding: 13px 13px;
}

.wrapper .sidebar-left>.side-menu ul.navbar-nav li.nav-item a.items-list2.active {
  background-color: ##129BAF;
  border-bottom: 1px solid #000000;
  border-top: unset;
}

.wrapper .sidebar-left>.side-menu ul.navbar-nav li.nav-item a.items-list2:hover {
  background-color: ##129BAF;
}

.wrapper .sidebar-left>.side-menu ul.navbar-nav li.nav-item a.items-list2 span:first-child i {
  color: #0F3847;
}

.wrapper .sidebar-left>.side-menu ul.navbar-nav li.nav-item a {
  color: #e6e6e6;
  text-decoration: none;
}

.wrapper .sidebar-left>.side-menu ul.navbar-nav li.nav-item .sub-menu a.items-list3, .wrapper .sidebar-left>.side-menu ul.navbar-nav li.nav-item .sub-menu a.items-list1 {
  display: block;
  text-decoration: none;
  color: #e6e6e6;
  background-color: #030303;
  padding: 10px 0 10px 45px;
  border-bottom: 1px solid #1a1a1a;
}

.wrapper .sidebar-left>.side-menu ul.navbar-nav li.nav-item .sub-menu a.items-list3.active, .wrapper .sidebar-left>.side-menu ul.navbar-nav li.nav-item .sub-menu a.items-list1.active {
  background-color: white;
  border-bottom: 1px solid #000000;
}

.wrapper .sidebar-left>.side-menu ul.navbar-nav li.nav-item .sub-menu a.items-list3:hover, .wrapper .sidebar-left>.side-menu ul.navbar-nav li.nav-item .sub-menu a.items-list1:hover {
  background-color: #0F384780;
  border-bottom: 1px solid #000000;
}

.wrapper .sidebar-left>.side-menu ul.navbar-nav li.nav-item .sub-menu a.items-list3 {
  padding: 10px 0px 10px 55px;
}

.wrapper .sidebar-left>.side-menu ul.navbar-nav li.nav-item .sub-menu a.items-list3.active, .wrapper .sidebar-left>.side-menu ul.navbar-nav li.nav-item .sub-menu a.items-list3:hover {
  background-color: #0F384780;
}

.wrapper .sidebar-left .side-bar-bottom {
  width: 100%;
  height: 56px;
  background-color: #080808;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0px;
  margin-top: 100%;
  color: #cccccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 0px 2px 5px 5px black;
  box-shadow: 0px 2px 5px 5px black;
}

.wrapper .sidebar-left .side-bar-bottom ul {
  margin: 0;
}

.wrapper .sidebar-left .side-bar-bottom ul li {
  padding: 10px;
}

.wrapper .sidebar-left .side-bar-bottom ul li:hover i {
  color: #0097B2;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
}

.wrapper .sidebar-left .side-bar-bottom a i {
  color: #cccccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
}

.wrapper .sidebar-left::-webkit-scrollbar {
  width: 0px;
}

.wrapper.active .sidebar-left {
  width: 80px;
  margin: 0;
}

.wrapper.active .sidebar-left .sidebar-topbar i:first-child {
  font-size: 28px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.wrapper.active .sidebar-left .sidebar-topbar>span {
  display: none;
}

.wrapper.active .sidebar-left .sidebar-topbar i:last-child {
  font-size: 30px;
  color: #f7f7f7;
  padding: 0;
  margin: 0;
}

.wrapper.active .sidebar-left .side-menu ul.navbar-nav {
  padding: 0px 0;
  text-align: center;
}

.wrapper.active .sidebar-left .side-menu ul.navbar-nav li.nav-item {
  padding: 0px 0px;
  margin: 0;
}

.wrapper.active .sidebar-left .side-menu ul.navbar-nav li.nav-item a.items-list2, .wrapper.active .sidebar-left .side-menu ul.navbar-nav li.nav-item a.items-list {
  color: #e6e6e6;
  text-decoration: none;
  display: block;
  padding: 13px 0;
}

.wrapper.active .sidebar-left .side-menu ul.navbar-nav li.nav-item a.items-list2 span:first-child i, .wrapper.active .sidebar-left .side-menu ul.navbar-nav li.nav-item a.items-list span:first-child i {
  padding: 0;
  color: #0097B2;
  font-size: 20px;
}

.wrapper.active .sidebar-left .side-menu ul.navbar-nav li.nav-item a.items-list2 span.items-list-text, .wrapper.active .sidebar-left .side-menu ul.navbar-nav li.nav-item a.items-list span.items-list-text {
  display: none;
}

.wrapper.active .sidebar-left .side-menu ul.navbar-nav li.nav-item a.items-list2 span i.fa-chevron-down, .wrapper.active .sidebar-left .side-menu ul.navbar-nav li.nav-item a.items-list span i.fa-chevron-down {
  float: none;
  margin: 0;
  text-align: center;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.wrapper.active .sidebar-left .side-menu ul.navbar-nav li.nav-item .sub-menu a.items-list3, .wrapper.active .sidebar-left .side-menu ul.navbar-nav li.nav-item .sub-menu a.items-list1 {
  display: block;
  text-decoration: none;
  font-size: 12px;
  padding: 10px 0 10px 0;
  margin: 0;
  border-bottom: 1px solid #1a1a1a;
}

.wrapper.active .sidebar-left .side-bar-bottom {
  width: 100%;
  height: 166px;
  background-color: #080808;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0px;
  margin-top: 100%;
  color: #cccccc;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -webkit-box-shadow: 0px 2px 5px 5px black;
  box-shadow: 0px 2px 5px 5px black;
}

.wrapper.active .sidebar-left .side-bar-bottom ul {
  margin: 0;
}

.wrapper.active .sidebar-left .side-bar-bottom ul li {
  padding: 10px;
  margin: 0;
}

.wrapper.active .sidebar-left .side-bar-bottom ul li:hover i {
  color: #0097B2;
}

.wrapper.active .sidebar-left .side-bar-bottom a i {
  color: #cccccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.wrapper.active nav.navbar {
  margin: 0 0 0 80px;
}

.wrapper.active .content {
  margin: 80px 20px 0 100px;
}

/*-------------------------------------------------------------------------*/
/*  Messages */

.content {
  margin: 80px 20px 0 270px;
}

.box {
  background-color: #e6e6e6;
  border: 1px solid #f0f0f0;
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
  margin: 0 0 40px 0;
}

.heading-messages h3 {
  margin: 30px 0px 50px 10px;
}

.breadcrumb {
  border-radius: 50px;
  padding: 10px 25px;
  margin: 30px 0;
  background-color: #ededed;
  font-weight: bold;
}

.breadcrumb .breadcrumb-item+.breadcrumb-item::before {
  content: "";
  margin: 0;
  padding: 0;
  display: inline-block;
}

.breadcrumb .breadcrumb-item i {
  padding: 0 10px 0 0;
}

.breadcrumb .breadcrumb-item a {
  text-decoration: none;
  color: #1a1a1a;
}

.details-text h4 {
  margin: 10px 20px;
  border-bottom: 1px solid #cccccc;
  padding: 10px 0 20px 0;
}

.content .content-messages .active a {
  color: #737373;
}

.content ul.nav.nav-pills {
  margin: 40px 0 40px 0;
}

.content ul.nav.nav-pills li.nav-item {
  margin: 0 5px;
  position: relative;
}

.content ul.nav.nav-pills li.nav-item a.nav-link {
  background-color: #e6e6e6;
  -webkit-box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.3);
  color: #1a1a1a;
  font-weight: bold;
  letter-spacing: 1px;
  -webkit-transition: 0.25;
  transition: 0.25;
}

.content ul.nav.nav-pills li.nav-item a.nav-link.active {
  background-color: #0F3847;
  color: #e6e6e6;
}

.content ul.nav.nav-pills li.nav-item a.nav-link:hover {
  background-color: #0F3847;
  color: #e6e6e6;
}

.content .inbox-header {
  margin: 0px 2px 20px 2px;
}

.content .inbox-header .btn {
  background-color: #e6e6e6;
  padding: 8px 30px;
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
  font-size: 15px;
  -webkit-transition: 0.25ms linear;
  transition: 0.25ms linear;
}

.content .inbox-header .btn:hover {
  background-color: #0F3847;
  color: #e6e6e6;
}

.content .inbox-header .dropdown .dropdown-btn {
  font-weight: bold;
  background-color: #0F3847;
  color: #e6e6e6;
}

.content .inbox-header .dropdown .dropdown-menu {
  min-width: 200px;
  padding: 0;
}

.content .inbox-header .dropdown .dropdown-menu a.dropdown-item {
  border-bottom: 1px solid #d9d9d9;
}

.content .inbox-header .dropdown .dropdown-menu a.dropdown-item i {
  margin: 0 10px 0 0;
}

.content table {
  margin: 20px;
  max-width: 95%;
  text-align: center;
}

.content table tr {
  border: 1px solid #cccccc;
}

.content table tr td {
  border-top: 1px solid #cccccc;
  text-align: left;
}

.content table tr td:nth-child(2) i {
  color: #ffa500;
}

.content table tr td:nth-child(2) i.active2 {
  color: #cccccc;
}

.content table tr td:nth-child(3) i {
  color: #cccccc;
}

.content table tr td:nth-child(3) i.active1 {
  color: #ffa500;
}

.content table tr td {
  font-weight: bold;
  color: #4d4d4d;
}

.content table tr td:nth-child(5) a {
  text-decoration: none;
  color: #4d4d4d;
}

.content table tr td:nth-child(6) {
  text-align: right;
}

.content table tr td:last-child {
  text-align: right;
}

.content .page-navigation {
  margin: 30px 30px 30px 0;
}

.content .page-navigation a:nth-child(2) i.fas, .content .page-navigation a:nth-child(1) i.fas {
  font-size: 23px;
  border-radius: 20px 5px 5px 20px;
  color: #e6e6e6;
  margin: 0 1px;
  padding: 8px 25px;
  background-color: #0F3847;
}

.content .page-navigation a:nth-child(2) i.fas {
  border-radius: 5px 20px 20px 5px;
}

.content .page-navigation a:hover i.fas {
  background-color: #990000;
}

/*-------------------------------------------------------------------------*/
/* Messages Important */

.content .important table {
  margin: 20px;
  max-width: 95%;
  text-align: center;
}

.content .important table tr td:nth-child(2) i {
  color: #ffa500;
}

.content .important table tr td:nth-child(3) i {
  color: #ffa500;
}

/*-------------------------------------------------------------------------*/
/* Messages Trash */

.content .trash table tr td:nth-child(3) {
  padding-left: 0;
  padding-right: 0;
}

.content .trash table tr td:nth-child(3) i {
  color: #1a1a1a;
}

.content .trash table tr td:nth-child(3) {
  padding-left: 0;
  padding-right: 0;
}

.content .trash table tr td:nth-child(3) i.active1 {
  color: #cccccc;
}

/*-------------------------------------------------------------------------*/
/* Messages Details */

.content .message-details ul.text-center {
  margin: 40px 0;
}

.content .message-details ul.text-center>li {
  margin: 0px 10px;
}

.content .message-details ul.text-center>li>a.btn {
  padding: 10px 30px;
  margin: 10px 0px;
  font-size: 16px;
  font-weight: bold;
  background-color: #e6e6e6;
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
}

.content .message-details ul.text-center>li>a.btn:hover {
  background-color: #0F3847;
  color: #e6e6e6;
}

.content .message-details .message-details-text {
  border: 1px solid #cccccc;
  width: 95%;
  margin: 20px auto 40px auto;
}

.content .message-details .message-details-text .md-heading {
  padding: 20px 40px 20px 10px;
  border-bottom: 1px solid #cccccc;
  width: 95%;
  margin: 0 auto;
  text-align: left;
}

.content .message-details .message-details-text .md-heading h4 {
  font-weight: bold;
}

.content .message-details .message-details-text .message-details-body {
  padding: 20px 40px;
}

.content .message-details .message-details-text .message-details-body .image-body {
  border-bottom: 1px solid #cccccc;
}

.content .message-details .message-details-text .message-details-body .media img {
  width: 80px;
}

.content .message-details .message-details-text .message-details-body .media .media-body h5 {
  padding: 20px 0 0 0;
  color: #0F3847;
}

.content .message-details .message-details-text .message-details-body .media .media-body p {
  padding: 20px 0 0 0;
  color: #999999;
}

.content .message-details .message-details-text .message-details-body .text-right p {
  font-weight: 600;
  color: #1a1a1a;
}

.content .message-details .message-details-text .message-details-body .text {
  padding: 20px 0px;
}

.content .message-details .message-details-text .message-details-body .text>p {
  color: #1a1a1a;
}

.content .message-details .message-details-text .message-details-footer {
  padding: 20px 40px;
}

.content .message-details .message-details-text .message-details-footer i {
  padding: 0 0 0 10px;
}

.content .message-details .message-details-text .message-details-footer>span {
  font-weight: 600;
  padding: 0 0 0 10px;
}

.content .message-details .message-details-text .message-details-footer>a {
  font-weight: bold;
  letter-spacing: 1px;
  color: #0F3847;
}

.content .message-details .message-details-text .message-details-footer ul.attachment-image {
  padding: 40px 0 0 40px;
  margin: 0;
}

.content .message-details .message-details-text .message-details-footer ul.attachment-image li {
  margin: 0px 0;
  padding: 0;
}

.content .message-details .message-details-text .message-details-footer ul.attachment-image li img {
  width: 60px;
  padding: 5px;
  border: 5px solid #cccccc;
  font-size: 14px;
}

.content .message-details .message-details-text .message-details-footer ul.attachment-image li span {
  font-size: 15px;
  font-weight: 600;
  padding: 0 0 0 5px;
  color: #0F3847;
}

.content .message-details .message-details-text .message-details-footer ul.attachment-image li a {
  font-weight: bold;
  letter-spacing: 1px;
  color: #0F3847;
}

.content .message-details .message-details-text .message-details-footer ul.attachment-image li a.first-link {
  padding: 0 0 0 70px;
  margin: 0;
}

.content .message-details .message-details-text .message-details-footer .btn-group1 {
  margin: 40px 0px 20px 0px;
}

.content .message-details .message-details-text .message-details-footer .btn-group1 a {
  color: #e6e6e6;
  background-color: #0F3847;
  padding: 10px 25px;
  margin: 0 5px;
  border-radius: 5px;
  font-weight: 600;
  text-decoration: none;
}

.content .message-details .message-details-text .message-details-footer .btn-group1 a i {
  padding: 0 10px 0 0;
}

.content .message-details .message-details-text .message-details-footer .btn-group1 a:nth-child(3) i, .content .message-details .message-details-text .message-details-footer .btn-group1 a:nth-child(4) i {
  padding: 0 0px 0 0;
}

/*-------------------------------------------------------------------------*/
/* Messages Compose */

.content .compose-messages .compose-messages-border {
  border: 1px solid #cccccc;
  padding: 0px 40px;
  margin: 10px;
}

.content .compose-messages .compose-messages-border ul.nav.nav-pills {
  margin: 30px 0 40px 0;
}

.content .compose-messages .compose-messages-border>ul {
  padding: 0 0 40px 0;
  border-bottom: 1px solid #cccccc;
}

.content .compose-messages .compose-messages-border>ul li a.btn {
  padding: 8px 25px;
  background-color: #1a1a1a;
  color: #e6e6e6;
}

.content .compose-messages .compose-messages-border>ul li a:hover {
  background-color: #0F3847;
}

.content .compose-messages .compose-messages-border form {
  position: relative;
  margin: 40px 0;
}

.content .compose-messages .compose-messages-border form .compose-options {
  position: absolute;
  right: 0;
  padding: 6px 20px;
}

.content .compose-messages .compose-messages-border form .compose-options a {
  color: #737373;
  font-weight: 600;
}

.content .compose-messages .compose-messages-border form .form-group>label {
  position: absolute;
  left: 0px;
  background-color: #cccccc;
  width: 80px;
  padding: 7px 20px;
  margin: auto 0;
}

.content .compose-messages .compose-messages-border form .form-group .form-control {
  padding: 0 0 0 83px;
}

.content .compose-messages .compose-messages-border .ck-editor {
  margin-bottom: 16px;
}

.content .compose-messages .compose-messages-border .ck-editor p {
  font-size: 14px;
}

.content .compose-messages .compose-messages-border .ck-editor .ck.ck-editor__main>.ck-editor__editable:not(.ck-focused) {
  height: 150px;
  border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -ms-border-radius: 0 0 10px 10px;
  -o-border-radius: 0 0 10px 10px;
}

.content .compose-messages .compose-messages-border .ck-editor .ck.ck-editor__main>.ck-editor__editable:focus {
  height: 150px;
  border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -ms-border-radius: 0 0 10px 10px;
  -o-border-radius: 0 0 10px 10px;
}

.content .compose-messages .compose-messages-border ul.footer-btns {
  margin: 0;
  padding: 40px 0 40px 0;
  border-bottom: 0;
}

.content .compose-messages .compose-messages-border ul.footer-btns li a.btn {
  padding: 8px 25px;
  background-color: #1a1a1a;
  color: #e6e6e6;
}

.content .compose-messages .compose-messages-border ul.footer-btns li a:hover {
  background-color: #0F3847;
}

/*-------------------------------------------------------------------------*/
/* Bookings */

.tooltip-inner {
  max-width: 200px;
  padding: 0.25rem 0.5rem;
  color: #fff;
  text-align: center;
  border-radius: 5px;
}

.bs-tooltip-auto[x-placement^="top"] .arrow::before, .bs-tooltip-top .arrow::before {
  top: 0;
  border-width: 0.4rem 0.4rem 0;
}

.box .add-new {
  margin: 40px 0 30px 20px;
}

.box .add-new a {
  padding: 5px 20px;
  background-color: #0F3847;
  color: white;
  font-size: 13px;
  font-weight: 600;
  border-radius: 10px;
}

.box .add-new a i {
  padding: 0 0 0 10px;
  font-size: 11px;
}

.box .tools-btns {
  margin: 40px 20px 30px 0px;
}

.box .tools-btns a i {
  padding: 7px 20px;
  background-color: #0F3847;
  color: #e6e6e6;
  border-radius: 20px;
  font-size: 11px;
}

.content.booking-content table {
  margin: 20px auto;
  max-width: 95%;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.content.booking-content table thead {
  border: 0;
}

.content.booking-content table thead tr {
  border: 0;
}

.content.booking-content table thead tr th {
  border-bottom: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  font-size: 15px;
  font-weight: 700;
  line-height: 1;
}

.content.booking-content table tr td {
  border-top: 1px solid #cccccc;
  text-align: center;
  font-weight: 600;
  font-size: 15px;
}

.content.booking-content table tr td:nth-child(1) img {
  min-width: 35px;
  max-width: 35px;
}

.content.booking-content table tr td:nth-child(4) a, .content.booking-content table tr td:nth-child(3) a {
  color: #0F3847;
  font-weight: 600;
}

.content.booking-content table tr td:nth-child(4) a:hover, .content.booking-content table tr td:nth-child(3) a:hover {
  color: #990000;
}

.content.booking-content table tr td:nth-child(8) a {
  color: #e6e6e6;
  padding: 4px 10px;
  border-radius: 10px;
  font-size: 11px;
}

.content.booking-content table tr td:nth-child(8).approved a {
  background-color: green;
}

.content.booking-content table tr td:nth-child(8).pending a {
  background-color: #ffa500;
}

.content.booking-content table tr td:nth-child(8).cancelled a {
  background-color: #0F3847;
}

.content.booking-content table tr td:nth-child(9) a {
  padding: 4px 12px;
  background-color: #0F3847;
  border-radius: 10px;
  color: #e6e6e6;
  font-size: 11px;
  font-weight: 600;
  text-transform: capitalize;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.content.booking-content table tr td.unpaid>a {
  background-color: #0F3847;
}

.content.booking-content table tr td.paid>a {
  background-color: green;
}

.content.booking-content table tr td:nth-child(10) {
  border-bottom: 0;
}

.content.booking-content table tr td:nth-child(10) a i.fa-trash-alt, .content.booking-content table tr td:nth-child(10) a i.fa-edit {
  background-color: #4d4d4d;
  padding: 7px;
  font-size: 10px;
  border-radius: 50%;
  color: #e6e6e6;
}

.content.booking-content table tr td:nth-child(10) a i.fa-trash-alt:hover, .content.booking-content table tr td:nth-child(10) a i.fa-edit:hover {
  background-color: #030303;
}

.content.booking-content table tr td:nth-child(10) a i.fa-trash-alt {
  background-color: #0F3847;
}

/* Listing Add details BLock Start */

.tour-listing-form .form-row {
  padding: 0;
}

.tour-listing-form .form-row .col-md {
  padding: 0;
}

.tour-listing-form .form-row .col-md select option {
  padding: 0px;
}

.tour-listing-form .form-row .col-md:nth-child(1){
  padding: 0 20px 0 0;
}

.tour-listing-form form {
  position: relative;
  margin: 40px auto 30px auto;
  max-width: 90%;
}

.tour-listing-form form .form-group {
  margin-bottom: 50px;
}

.tour-listing-form form .form-group>label {
  position: absolute;
  color: #0f0f0f;
  font-weight: 600;
  left: 0px;
  background-color: #cccccc;
  width: 170px;
  padding: 7px 10px;
  height: 38px;
  margin: auto 0;
}

.tour-listing-form form .form-group .form-control {
  padding: 0 0 0 180px;
}

.tour-listing-form form .form-group input, .tour-listing-form form .form-group .custom-select {
  color: #333333;
  border: 1px solid #cccccc;
}

.tour-listing-form form .input-group-text {
  color: #0f0f0f;
  font-weight: 600;
  position: relative;
  background-color: #cccccc;
  width: 170px;
  padding: 7px 10px;
  border-radius: unset;
  border: unset;
  text-align: center;
  margin: 0 auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}

.tour-listing-form form .custom-select {
  color: #0f0f0f;
  background: unset;
  border: unset;
  border-radius: unset;
  background-color: #fff;
  border: 1px solid #ced4da;
}

.tour-listing-form form i.fa-angle-down {
  position: absolute;
  top: 13px;
  right: 20px;
  color: #cccccc;
}

.tour-listing-form form textarea {
  margin: 20px 0 0 0;
}

.tour-listing-form form ul li:nth-child(2) button, .tour-listing-form form ul li:nth-child(1) button{
  background-color: #0F3847;
  font-weight: 600;
  color: #e6e6e6;
  padding: 6px 30px;
}

.tour-listing-form form ul li:nth-child(2) button {
  background-color: #737373;
}

.tour-listing-form .dropzone {
  text-align: center;
  border: 2px dashed #999999;
  margin: 0px auto 50px auto;
}

.tour-listing-form .dropzone .fa-cloud-upload-alt {
  font-size: 60px;
  margin: 20px 0 0 0;
  padding: 0;
  cursor: pointer;
}

.tour-listing-form .dropzone .dz-message{
  font-size: 20px;
  margin: 10px 0;
  color: #1a1a1a;
}

.tour-listing-form .dropzone .dz-message p {
  font-size: 24px;
  margin: 20px 0;
}


/*-------------------------------------------------------------------------*/
/*  Listings */

.content.tour-listing-content table {
  margin: 20px auto;
  max-width: 95%;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.content.tour-listing-content table thead, .content.listing-content table thead {
  border: 0;
}

.content.tour-listing-content table thead tr, .content.listing-content table thead tr {
  border: 0;
}

.content.tour-listing-content table thead tr th, .content.listing-content table thead tr th {
  border-bottom: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 700;
}

.content.tour-listing-content table tr td, .content.listing-content table tr td {
  border-top: 1px solid #cccccc;
  text-align: center;
  color: #4d4d4d;
  font-size: 15px;
  font-weight: 600;
}

.content.tour-listing-content table tr td:nth-child(1) img, .content.listing-content table tr td:nth-child(1) img {
  min-width: 35px;
  max-width: 35px;
}

.content.tour-listing-content table tr td:nth-child(4) a, .content.tour-listing-content table tr td:nth-child(3) a, .content.listing-content table tr td:nth-child(4) a, .content.listing-content table tr td:nth-child(3) a {
  color: #4d4d4d;
}

.content.tour-listing-content table tr td:nth-child(7) a, .content.listing-content table tr td:nth-child(7) a {
  color: #d18d11;
  font-size: 13px;
  padding: 5px 10px;
  border-radius: 10px;
}

.content.tour-listing-content table tr td:nth-child(7).active a, .content.listing-content table tr td:nth-child(7).active a {
  background-color: green;
}

.content.tour-listing-content table tr td:nth-child(7).draft a, .content.listing-content table tr td:nth-child(7).draft a {
  background-color: #0F3847;
}

.content.tour-listing-content table tr td:nth-child(7).featuwhite a, .content.listing-content table tr td:nth-child(7).featuwhite a {
  background-color: orange;
}

.content.tour-listing-content table tr td:nth-child(7).expiwhite a, .content.listing-content table tr td:nth-child(7).expiwhite a {
  background-color: #0F3847;
}

.content.tour-listing-content table tr td:nth-child(10), .content.listing-content table tr td:nth-child(10) {
  border-bottom: 0;
}

.content.tour-listing-content table tr td:nth-child(10) a i.fa-trash-alt, .content.tour-listing-content table tr td:nth-child(10) a i.fa-edit, .content.listing-content table tr td:nth-child(10) a i.fa-trash-alt, .content.listing-content table tr td:nth-child(10) a i.fa-edit {
  background-color: #4d4d4d;
  padding: 7px;
  font-size: 10px;
  border-radius: 50%;
  color: #e6e6e6;
}

.content.tour-listing-content table tr td:nth-child(10) a i.fa-trash-alt:hover, .content.tour-listing-content table tr td:nth-child(10) a i.fa-edit:hover, .content.listing-content table tr td:nth-child(10) a i.fa-trash-alt:hover, .content.listing-content table tr td:nth-child(10) a i.fa-edit:hover {
  background-color: #030303;
}

.content.tour-listing-content table tr td:nth-child(10) a i.fa-trash-alt, .content.listing-content table tr td:nth-child(10) a i.fa-trash-alt {
  background-color: #0F3847;
}

/*-------------------------------------------------------------------------*/
/*  Tour Listing Starts */

.content.tour-listing-content table tr td:nth-child(8) {
  border-bottom: 0;
}

.content.tour-listing-content table tr td:nth-child(8) a i.fa-trash-alt, .content.tour-listing-content table tr td:nth-child(8) a i.fa-edit {
  background-color: #4d4d4d;
  padding: 7px;
  font-size: 10px;
  border-radius: 50%;
  color: #e6e6e6;
}

.content.tour-listing-content table tr td:nth-child(8) a i.fa-trash-alt:hover, .content.tour-listing-content table tr td:nth-child(8) a i.fa-edit:hover {
  background-color: #030303;
}

.content.tour-listing-content table tr td:nth-child(8) a i.fa-trash-alt {
  background-color: #0F3847;
}


/*-------------------------------------------------------------------------*/
/* Profile */


.content.profile .tour-listing-form .form-group label {
  width: 120px;
  font-size: 15px;
}

.content.profile .tour-listing-form .form-group .form-control {
  padding: 0 0 0 125px;
}

.content.profile .tour-listing-form .form-group textarea {
  margin: 0;
  width: 100%;
}

.content.profile .upload-photo-wrapper {
  padding: 0px 0 20px 0;x
}

.content.profile .upload-photo-wrapper .upload-heading h5 {
  padding: 10px 0 10px 0;
  color: #1a1a1a;
  margin: 0;
  font-size: 20px;
}

.content.profile .upload-photo-wrapper .dropzone {
  margin: auto;
  text-align: center;
  border: 2px dashed #b3b3b3;
  max-width: 340px;
  max-height: 150px;
}

.content.profile .upload-photo-wrapper .dropzone .dz-message {
  margin: 30px 0;
}

.content.profile .upload-photo-wrapper .dropzone .dz-message p {
  color: white;
  font-weight: 700;
  font-size: 18px;
}

/*-------------------------------------------------------------------------*/
/* View Profile Starts */

.content.view-profile .box {
  padding: 0 25px 20px 25px;
}

.content.view-profile .profile-padding {
  padding: 20px 0 0 0;
}

.content.view-profile .heading-part {
  padding: 0 0px 30px 0;
}

.content.view-profile .heading-part p {
  padding-left: 20px;
  margin-bottom: 10px;
  font-weight: 700;
}

.content.view-profile .details-part {
  padding: 0 0px 30px 0;
}

.content.view-profile .details-part p {
  margin-bottom: 10px;
  font-weight: 600;
  color: #4d4d4d;
}

.content.view-profile .personal-info h6 {
  font-weight: 700;
  padding-left: 20px;
}

.content.view-profile .personal-info p {
  padding: 0 0 0 20px;
  margin: 0;
}

.content.view-profile .upload-photo-wrapper .upload-heading h5 {
  font-weight: 700;
}

.content.view-profile .upload-photo-wrapper .dropzone {
  padding: 0;
}

.content.view-profile .upload-photo-wrapper .dropzone .dz-message {
  margin: 0;
  padding: 14px 0;
}

.content.view-profile .upload-photo-wrapper .dropzone .dz-message h1 {
  font-size: 90px;
  margin: 0;
}

/*-------------------------------------------------------------------------*/
/* Change-Password  */

.content.change-password .form-padding {
  max-width: 90%;
  margin: 0 auto;
}


/*-------------------------------------------------------------------------*/
/*  Users Start */

.users-list table tr td:nth-child(8) a {
  color: #e6e6e6;
  font-size: 13px;
  padding: 5px 10px;
  border-radius: 10px;
}

.users-list table tr td:nth-child(8).active a {
  background-color: green;
}

.users-list table tr td:nth-child(8).draft a {
  background-color: #0F3847;
}

.users-list table tr td:nth-child(8).featuwhite a {
  background-color: #ffa500;
}

.users-list table tr td:nth-child(8).expiwhite a {
  background-color: #0F3847;
}

.users-list table tr td:nth-child(9) a i.fa-trash-alt, .users-list table tr td:nth-child(9) a i.fa-edit {
  background-color: #4d4d4d;
  padding: 7px;
  font-size: 10px;
  border-radius: 50%;
  color: #e6e6e6;
}

.users-list table tr td:nth-child(9) a i.fa-trash-alt:hover, .users-list table tr td:nth-child(9) a i.fa-edit:hover {
  background-color: #030303;
}

.users-list table tr td:nth-child(9) a i.fa-trash-alt {
  background-color: #0F3847;
}

/*-------------------------------------------------------------------------*/
/*   Reviews Starts */

.reviews-body ul {
  padding: 0 30px;
}

.reviews-body ul li {
  list-style-type: none;
}

.reviews-body .media {
  margin: 50px 0;
}

.reviews-body .media img {
  max-width: 80px;
}

.reviews-body .media .media-body h5 {
  margin: 10px 0 10px 0;
}

.reviews-body .media .media-body h5 small {
  font-weight: 600;
  font-size: 14px;
  color: #4d4d4d;
  font-style: italic;
}

.reviews-body .media .media-body p {
  margin: 0;
  font-size: 15px;
  text-align: justify;
  color: #4d4d4d;
  padding-left: 10px;
}

.reviews-body .media .media-body i {
  font-size: 14px;
  margin: 0px 0 20px 3px;
}

.reviews-body .media .media-body i.fas {
  color: #ffa500;
}

.reviews-body .media .media-body i.fas.null {
  color: #cccccc;
}

.reviews-body .media .media-body p.text-sm-right, .reviews-body .media .media-body span {
  font-style: italic;
  font-weight: 600;
  color: #666666;
  font-size: 15px;
}

.reviews-body .media .media-body .media {
  margin: 50px 0 0 0;
}

/*   Bookmarks Start */

.content.listing-content.bookmarks table tr td:nth-child(7) a {
  background-color: white;
}

/*-------------------------------------------------------------------------*/

/* Dashboard */

.dashboard .box {
  padding: 40px 0px;
  border: unset;
}

.dashboard .box .dashboard-wrapper {
  padding: 0 30px;
}

.dashboard .box .row:nth-child(1) .col-lg-6, .dashboard .box .row:nth-child(1) .col-xl, .dashboard .box .row:nth-child(1) .col {
  padding: 0px 10px;
}

.dashboard .box .row:nth-child(1) .col-lg-6 .col, .dashboard .box .row:nth-child(1) .col-xl .col, .dashboard .box .row:nth-child(1) .col .col {
  padding: 0;
}

.dashboard .box .dashboard-boxes {
  border-radius: 7px;
  color: #f2f2f2;
  text-align: center;
  overflow: hidden;
}

.dashboard .box .dashboard-boxes .icon {
  background-color: #0062cc;
  border-radius: 7px 0 0 7px;
  min-height: 90px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.dashboard .box .dashboard-boxes .icon i {
  font-size: 35px;
  color: #f2f2f2;
  opacity: .8;
}

.dashboard .box .dashboard-boxes a h5 {
  color: #f2f2f2;
  min-height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 10px;
  margin: 0;
}

.dashboard .box .dashboard-boxes.primary {
  background-color: #007bff;
}

.dashboard .box .dashboard-boxes.primary:hover {
  background-color: #1a88ff;
}

.dashboard .box .dashboard-boxes.primary .icon {
  background-color: #0062cc;
}

.dashboard .box .dashboard-boxes.success {
  background-color: #28a745;
}

.dashboard .box .dashboard-boxes.success:hover {
  background-color: #2dbc4e;
}

.dashboard .box .dashboard-boxes.success .icon {
  background-color: #1e7e34;
}

.dashboard .box .dashboard-boxes.danger {
  background-color: #dc3545;
}

.dashboard .box .dashboard-boxes.danger:hover {
  background-color: #e04b59;
}

.dashboard .box .dashboard-boxes.danger .icon {
  background-color: #bd2130;
}

.dashboard .box .dashboard-boxes.warning {
  background-color: #edb100;
}

.dashboard .box .dashboard-boxes.warning:hover {
  background-color: #ffc008;
}

.dashboard .box .dashboard-boxes.warning .icon {
  background-color: #ba8b00;
}

.dashboard .box .dashboard1-wrapper {
  background-color: #dbdbdb;
  /* border-radius: 20px; */
  padding: 20px 0;
  margin: 40px 0 0 0;
}

.dashboard .box .dashboard-boxes1 .icon {
  margin: 0 auto;
}

.dashboard .box .dashboard-boxes1 .icon i {
  font-size: 35px;
  background-color: #008000;
  color: #f2f2f2;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.dashboard .box .dashboard-boxes1 a {
  color: #0d0d0d;
  margin: 0 auto;
}

.dashboard .box .dashboard-boxes1 a h5 {
  padding: 5px 3px 0 3px;
  text-align: center;
  font-weight: 900;
  font-size: 36px;
  margin: 0;
  font-family: 'Baloo Chettan', cursive;
}

.dashboard .box .dashboard-boxes1 a h5 small {
  font-weight: 600;
  font-size: 16px;
  color: gray;
  font-family: 'Roboto Slab', serif;
}

.dashboard .box .dashboard-boxes1.primary:hover .icon i {
  background-color: #a71d2a;
}

.dashboard .box .dashboard-boxes1.primary .icon i {
  background-color: #bd2130;
}

.dashboard .box .dashboard-boxes1.success:hover .icon i {
  background-color: #a17800;
}

.dashboard .box .dashboard-boxes1.success .icon i {
  background-color: #edb100;
}

.dashboard .box .dashboard-boxes1.danger:hover .icon i {
  background-color: #0056b3;
}

.dashboard .box .dashboard-boxes1.danger .icon i {
  background-color: #0062cc;
}

.dashboard .box .dashboard-boxes1.warning:hover .icon i {
  background-color: #a17800;
}

.dashboard .box .dashboard-boxes1.warning .icon i {
  background-color: #ba8b00;
}

.dashboard .box .dashboard-boxes1.info:hover .icon i {
  background-color: #0F3847;
}

.dashboard .box .dashboard-boxes1.info .icon i {
  background-color: #0F3847;
}

.dashboard .box .charts-section {
  margin: 50px 30px 0 30px;
}

.dashboard .box .charts-section canvas {
  max-height: 600px;
  max-width: 800px;
  margin: 0 auto;
}

.dashboard .box .charts-section .canvas1 {
  margin-bottom: 50px;
}

/*-------------------------------------------------------------------------*/
/* Form  */

.common-form {
  position: relative;
  height: 100%;
}

.common-form.bg-image {
  background-image: url(../images/login-cover.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
}

.common-form.bg-image:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.white-box {
  position: relative;
  padding: 30px 50px;
  text-align: left;
  min-height: 420px;
  max-height: 420px;
  border-radius: 0 20px 20px 0;
}

.white-box.left-side {
  border-radius: 20px 0 0 20px;
  text-align: center;
}

.white-box.left-side h2 {
  line-height: 1.2;
  font-weight: 600;
  margin: 20px 0;
  text-transform: uppercase;
}

.white-box.left-side ul li a {
  text-decoration: none;
}

.white-box.left-side ul li a i span {
  padding-left: 10px;
  font-size: 14px;
  letter-spacing: 1px;
}

.white-box img {
  width: 150px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.white-box .form-control {
  border-radius: 10px;
  padding-left: 20px;
}

.white-box .social li a i {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin: 0px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.white-box .or p {
  position: relative;
}

.white-box .or p:before {
  content: "";
  position: absolute;
  left: 0;
  margin-top: 12px;
  width: 45%;
  height: 1px;
}

.white-box .or p:after {
  content: "";
  position: absolute;
  right: 0;
  margin-top: 12px;
  width: 45%;
  height: 1px;
}

.text-box {
  margin: 80px auto 40px auto;
  padding: 50px;
  min-height: 411px;
}

.text-box p {
  font-size: 20px;
}

.text-box p:first-child {
  margin-bottom: 30px;
}

.white-box form {
  min-width: 300px;
}

.white-box form h5.logo {
  margin-bottom: 25px;
}

.white-box form h4 {
  font-size: 23px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.reg-form .white-box form h4 {
  font-size: 23px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.forget-form .white-box form h4 {
  font-size: 23px;
  font-weight: bold;
  text-transform: uppercase;
}

.white-box form .form-control {
  margin-bottom: 0;
  border-radius: 10px;
  font-size: 14px;
}

.white-box .form-group {
  margin-top: 20px;
}

.white-box form .custom-control-label {
  margin: 0px 0;
  font-size: 14px;
}

.white-box .info li {
  font-size: 13px;
}

.white-box .info li:nth-child(2) {
  margin-bottom: 10px;
  margin-top: 10px;
}

.login-form .white-box .info li:nth-child(1) {
  margin-bottom: 10px;
  margin-top: 10px;
}

.login-form .white-box .info li:nth-child(2) {
  margin-bottom: 20px;
}

.white-box .info li .btn {
  margin-bottom: 10px;
  font-size: 13px;
}

.white-box .new-acc {
  margin: 10px 0;
  font-size: 13px;
}

.white-box a.sign-in-link {
  font-size: 13px;
}

.white-box .btn {
  width: 100%;
  padding: 5px 40px;
}

.white-box p.new-acc a:hover {
  text-decoration: underline;
}

.f-btns li a, .f-btns li button {
  font-weight: 600;
  padding: 5px 30px;
  font-size: 16px;
  letter-spacing: 1px;
  margin: 10px 0;
  border: unset;
}

.form-links li p {
  font-size: 14px;
}

.form-links li.already-reg p {
  margin: -5px 0 20px 0;
}

footer p {
  padding: 20px 0;
  letter-spacing: 2px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 1;
}

footer span {
  font-weight: 600;
  font-style: italic;
}

.reg-form .white-box {
  position: relative;
}

.reg-form form .form-control {
  margin-bottom: 15px;
}

ol.forgot-info {
  padding-left: 20px;
}

.forgot-info li p {
  font-size: 14px;
}

li, ul {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100;
}

html, body {
  height: 100%;
}

.section-padding {
  padding: 50px 0;
}

.btn:focus, button:focus, .form-control:focus, .navbar-toggler:focus, select:focus {
  border: unset;
  border-color: unset;
  outline: unset;
  box-shadow: unset;
}

.flex-centering {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-centeringv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.fh {
  height: 100vh;
}

.sh-above {
  /* position: relative; */
  z-index: 1;
}

form .form-control {
  border: unset;
  outline: unset;
}

/*-------------------------------------------------------------------------*/
/* Form Colors  */

.common-form {
  color: #000000;
}

.common-form.bg-image:after {
  background-color: rgba(0, 0, 0, .6);
}

.white-box {
  background: #ffffff;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .6);
}

.white-box.left-side {
  background-color: #0F3847;
  color: #ffffff;
}

.white-box form h5.logo {
  color: #333;
}

.white-box form h4 {
  color: #222222;
}

.white-box .btn {
  background-color: #0F3847;
}

.white-box .btn:hover {
  background-color: #0F3847;
}

.white-box form .form-control {
  border: 1px solid #ffffff;
  background-color: #cccccc;
  transition: .3s;
}

.white-box form .form-control:focus {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #111111;
}

.white-box .social li a i, .f-btns li a:hover, .f-btns li button:hover, .white-box a i:hover, .white-box .btn, .text-box, footer p {
  color: #ffffff;
}

.white-box .or p, .white-box form .form-control:focus, .white-box form .form-control::placeholder {
  color: #333333;
}

.f-btns li a, .f-btns li button {
  color: #000000;
  background-color: transparent;
  border-radius: 30px;
  border-bottom: 2px solid #000;
  transition: .3s;
}

.white-box .social li a i, .f-btns li a:hover, .f-btns li button:hover, .white-box a i:hover {
  background-color: #004d99;
}

.white-box a i.fa-user-alt:hover {
  background-color: #0066cc;
}

.white-box .social li a i {
  transition: .3s;
}

.white-box .social li a:hover i {
  transform: scale(0.90);
}

.f-btns li a, .f-btns li button, .white-box a i {
  box-shadow: -3px 3px 5px rgba(0, 0, 0, .6);
}

.white-box .social li:nth-child(1) a i {
  background-color: #0059b3;
}

.white-box .social li:nth-child(2) a i {
  background-color: #58a8de;
}

.white-box .social li:nth-child(3) a i {
  background-color: #0F3847;
}

.white-box .social li:nth-child(4) a i {
  background-color: #007bb6;
}

.white-box .or p:before, .white-box .or p:after {
  background-color: #999999;
}